[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyYAML = ">=4.2b1"
six = "*"
filelock = "*"
tabulate = "*"
dill = "*"
maestrowf = {path = "."}

[dev-packages]
flake8 = "*"
pydocstyle = "*"
pylint = "*"
tox = "*"
coverage = "*"
pytest = "*"
fabric = "*"
Sphinx = "*"
pytest-cov = "*"
pre-commit = "*"
sphinx-rtd-theme = "*"

[pipenv]
allow_prereleases = true

[requires]
python_version = "3.6"
