# If on LC Cluster
-f /usr/gapps/python/wheelhouse

# If on LLNL Network
--trusted-host www-lc.llnl.gov
-f http://www-lc.llnl.gov/python/wheelhouse/

enum34
fabric
coverage
PyYAML
six
sphinx_rtd_theme
sphinx
nose
flake8
pydocstyle
pylint
tox

### Install this package in editable mode

-e .
